.cards {
  text-align: center;
  width: 90%;
  margin: auto;

  display: grid;
  margin-left: 10px;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}
.App{
margin-left: 150px;
}
.App p{
  text-align: center;
}

